@font-face {
    font-family: 'Raleway Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Medium'), url('Raleway-Medium.woff') format('woff');
    }

@font-face {
    font-family: 'Raleway Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Bold'), url('Raleway-Bold.woff') format('woff');
    }
    