:root {
  --green: #D4E8D9;
  --green-2: #598D66;
  --green-3: #376B44;
  --green-4: #86928B;
  --black: #2C2D35;
  --yellow: #FAEB97;
  --yellow-2: #EEDB6D;
  --white: #F4F6F5;
  --white-1: #ffffff;
}

