.banner {
    width: 100%;
    height: 552px;
    background-color: transparent;
}

.bannerContainer::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('/public/images/banner.jpg');
    background-position: -350px -255px;
    background-repeat: no-repeat;
    background-size: calc(320px + 130%) calc(552px + 130%);
    transform: scaleX(-1);
    z-index: 1;
    box-shadow: inset 0 0 90em black;
    filter: brightness(70%);
}
.bannerContainer {
    width: 320px;
    height: 100%;
    margin: 0 auto;
    padding: 55px 15px;
    overflow: hidden;
    position: relative;
}

.bannerName {
    display: flex;
    gap: 20px;
}
.bannerContainer h1 {
    font: 500 24px var(--raleway);
    color: var(--green-text);
    line-height: 100%;
}
.bannerContainer p {
    font: 500 16px var(--raleway);
    color: var(--text-white);
    line-height: 140%;
}
.bannerParagraph {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 20px;
}

.bannerName, .bannerParagraph, .yellowBtn {
    position: relative;
    z-index: 2;
}


@media (min-width: 576px) {
    .banner {
        height: 410px;
    }

    .bannerContainer {
        width: 576px;
        padding: 45px 30px;
    }
    .bannerContainer::before {
        background-position: -55px -161px;
        background-repeat: no-repeat;
        background-size: calc(576px + 15%) calc(410px + 107%);
    }
    
    .bannerContainer h1 {
        width: 300px;
    }
    .bannerParagraph {
        width: 90%;
        margin-top: 25px;
    }
}
@media (min-width: 768px) {
    .banner {
        height: 502px;
    }
    .bannerContainer {
        width: 768px;
        padding: 65px 30px;
    }
    .bannerContainer::before {
        background-position: 0 -190px;
        background-repeat: no-repeat;
        background-size: calc(768px + 0%) calc(502px + 100%);
    }
    .bannerContainer h1 {
        font-size: 30px;
        width: 400px;
    }
    .bannerParagraph {
        width: 90%;
        gap: 25px;
        margin-top: 30px;
        margin-bottom: 30px;
        word-spacing: 2px;
    }
    .bannerName svg {
        width: 60px;
        height: 60px;
    }
    .bannerParagraph p {
        line-height: 160%;
    }
}

@media (min-width: 1440px) {
    .banner {
        height: 574px;
    }
    .bannerContainer {
        width: 1440px;
        padding: 60px 160px;
    }
    .bannerContainer::before {
        background-position: 0 -190px;
        background-repeat: no-repeat;
        background-size: calc(1440px + 0%) calc(574px + 170%);
    }
    .bannerContainer h1 {
        font-size: 40px;
        width: 420px;
    }
    .bannerParagraph {
        width: 540px;
    }
    .bannerName svg {
        width: 80px;
        height: 80px;
    }
}