.hero {
  width: 100%;
  height: 233px;
}

.heroContainer {
  width: 320px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.heroText {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.heroText h1 {
  font: 500 30px var(--raleway);
  color: var(--text);
}
.heroText span {
  color: var(--green-light);
}
.heroText p {
  font: 500 14px var(--raleway);
  color: var(--prod-lore);
  line-height: 150%;
  position: relative;
  top: -10px;
  white-space: normal;
}

.heroContainer picture {
  display: none;
}

@media (min-width: 576px) {
  .hero {
    height: 245px;
  }
  .heroContainer {
    width: 576px;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
  }
  .heroContainer picture {
    width: 195px;
    height: 100%;
    display: block;
  }
  .heroText h1 {
    font-size: 36px;
    line-height: 100%;
  }
  .heroContainer picture img {
    width: 100%;
    height: 100%;
    transform: scaleX(-1);
  }
  .heroText {
    width: 285px;
    height: 100%;
  }
  .heroText p {
    top: 0;
    font-size: 16px;
    white-space: pre-wrap;

  }
}

@media (min-width: 768px) {
  .hero {
    height: 350px;
  }
  .heroContainer {
    width: 768px;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
  }
  .heroText {
    width: 330px;
    height: 290px;
  }
  .hero h1 {
    font-size: 40px;
  }
  .heroText p {
    width: 90%;
    white-space: normal;
  }
  .heroContainer picture {
    width: 300px;
  }
}

@media (min-width: 1440px) {
  .hero {
    height: 620px;
  }
  .heroContainer {
    width: 1440px;
    padding: 0 160px;
  }
  .heroContainer picture {
    width: 540px;
  }
  .heroText {
    width: 540px;
    height: 330px;
  }
  .hero h1 {
    font-size: 60px;
  }
  .heroText p {
    width: 100%;
    position: relative;
    top: -16px;
    white-space: normal;
  }
}