/* Кнопка в Hero */

.greenBtn {
  width: 154px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--green-light);
  font: 500 18px var(--raleway);
  color: var(--green-light);
  transition: background-color .1s linear, color .1s linear;
}

/* Анимация кнопки Hero, кнопки категории и карточки товара */

.greenBtn:hover, .productBtn:hover, .greenProduct:hover {
    background-color: var(--green-light);
    color: var(--green-text);
}
.greenBtn:focus-visible {
    background-color: var(--prod-bg);
}
.greenBtn:active, .greenProduct:active {
    background-color: var(--green-dark);
    color: var(--text-white);
}

/**/

/* Кнопка категории */

.productBtn {
  padding: 10px 20px;
  font: 500 18px var(--raleway);
  color: var(--text);
  background-color: var(--green-bg);
  border-radius: 20px;
  transition: background-color .1s linear, color .1s linear;
}

/* Отдельные стили кнопки категории */

.productBtn.active {
  background-color: var(--green-dark);
  color: var(--green-text);
}
.productBtn:focus-visible {
    outline: 2px solid var(--green-light);
}
.productBtn.active:focus-visible {
    outline: 3px solid var(--green-dark);
    outline-offset: -1px;
}

/**/

/* Кнопка карточки товара */

.greenProduct {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--green-light);
  font: 500 18px var(--raleway);
  color: var(--green-light);
  transition: background-color .1s linear, color .1s linear;
}

/* Прочие стили кнопки карточки товара */

.greenProduct:focus-visible {
    background-color: var(--green-bg);
}

/**/

/* Кнопка баннера */

.yellowBtn {
    margin-top: 30px;
    width: 100%;
    height: 50px;
    background-color: var(--yellow-default);
    font: 500 18px var(--raleway);
    color: var(--text);
    transition: background-color .1s linear, color .1s linear;
}

/* Анимация кнопки баннера */

.yellowBtn:hover {
    background-color: var(--yellow-hf);
}
.yellowBtn:focus-visible {
    background-color: var(--yellow-hf);
    border: 1px solid var(--yellow-border);
}
.yellowBtn:active {
    background-color: var(--yellow-active);
}

/**/

/* Анимация иконок */

.footerSocial svg, .headerMenu svg, header nav svg {
    cursor: pointer;
    transition: background-color .1s linear;
}
.footerSocial svg path, .headerMenu svg path, header nav svg path {
    transition: fill .1s linear, stroke .1s linear;
}
.footerSocial svg:hover path, .headerMenu svg:hover path, header nav svg:hover path {
    fill: var(--green-light);
}
.footerSocial svg:focus-visible, .headerMenu svg:focus-visible, header nav svg:focus-visible {
    background-color: var(--green-bg);
}
.footerSocial svg:focus-visible path, .headerMenu svg:focus-visible path, header nav svg:focus-visible path {
    fill: var(--green-light);
}
.footerSocial svg:active path, .headerMenu svg:active path, header nav svg:active path {
    fill: var(--green-dark);
}
header nav svg:last-of-type:hover path {
    fill: none;
    stroke: var(--green-light);
}
header nav svg:last-of-type:focus-visible {
    background-color: var(--green-bg);
}
header nav svg:last-of-type:focus-visible path {
    fill: none;
    stroke: var(--green-light);
}
header nav svg:last-of-type:active path {
    fill: none;
    stroke: var(--green-dark);
}
li a {
  transition: color .1s linear;
}
nav li a:hover {
  color: var(--green-light);
}
nav li a:focus-visible, nav h6 a:focus-visible {
    background-color: var(--green-bg);
    color: var(--text);
}
nav li a:active {
    color: var(--green-dark);
}

/**/

@media (min-width: 576px) {
    .greenBtn {
        width: 178px;
    }
    .yellowBtn {
        width: 200px;
        margin-top: 25px;
    }
}
/*  */
@media (min-width: 768px) {
    .greenBtn {
        width: 210px;
        height: 60px;
        font-size: 20px;
    }
    .yellowBtn {
        width: 210px;
        height: 60px;
    }
    .productBtn {
        font-size: 20px;
    }
    .greenProduct {
        height: 65px;
        font-size: 20px;
    }
}
/*  */
@media (min-width: 1440px) {
    .greenBtn {
        width: 227px;
        height: 65px;
    }
    .yellowBtn {
        width: 257px;
        height: 65px;
    }
}