@use '../functions' as *;

.footer {
  margin-top: rem(70px);
  background-color: var(--green);
  padding: rem(23px) 0;

  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width:768px) {
          align-items: baseline;
    }
    @media (max-width:550px) {
      justify-content: center;
    }
  }
  
  &__contacts {
    display: grid;
    @media (max-width:768px) {
          display: flex;
          gap: rem(377px);
          align-items: flex-start;
    }
    @media (max-width:680px) {
          display: flex;
          gap: rem(300px);
          align-items: flex-start;
    }
    @media (max-width:550px) {
          display: flex;
          gap: rem(100px);
          align-items: flex-start;
    }
  }

  
  &__logo {
    display: flex;
    align-items: center;
    gap: rem(8px);
    margin-bottom: rem(35px);
  }

  &__house {
font-family: 'Raleway',sans-serif;
font-weight: 700;
font-size: rem(20px);
line-height: 100%;
color: var(--green-2);

  }


  &__menu {
    display: flex;
    gap: rem(60px);

    flex-wrap: wrap;

    @media (max-width:550px) {
          margin-top: rem(30px);
          border-bottom: 1px solid #C3D1C6;
              padding-bottom: rem(16px);
    }

  }

  &__bold {
font-family: 'Raleway',sans-serif;
font-weight: 500;
font-size: rem(20px);
line-height: 100%;
color: var(--black);
  }

  &__item {
font-family: 'Raleway',sans-serif;
font-weight: 500;
font-size: rem(18px);
line-height: 150%;
color: var(--green-4);
margin-top: rem(6px);
  }
}

.data {
  display: grid;
  

  
  &__tel {
font-family: 'Raleway',sans-serif;
font-weight: 500;
font-size: rem(20px);
line-height: 100%;
  }

  &__desc {
font-family: 'Raleway',sans-serif;
font-weight: 500;
font-size: rem(18px);
line-height: 100%;
color: var(--green-4);
margin-top: rem(8px);
  }


}

.coz {
  display: grid;

  @media (max-width:550px) {
      justify-items: center;
    }

  &__content {
    @media (max-width:550px) {
      display: flex;
      gap: rem(5px);
    }
  }

  &__img {
    display: flex;
    gap: rem(30px);
    margin-bottom: rem(10px);
    margin-top: rem(30px);
  }

  &__desc {
font-family: 'Raleway',sans-serif;
font-weight: 500;
font-size: rem(12px);
line-height: 120%;
color: var(--green-4);
margin-top: rem(6px);
  }
}

