@use '../functions' as *;

.team {


  &__container {
    display: flex;
    align-items: center;
    gap: rem(30px);

    @media (max-width:1023px) {
      flex-wrap: wrap; 
  }

  }

  &__content {
      margin-top: rem(70px);

    @media (max-width:680px) {
      margin-top: 0;
  }


      
  }

&__title {
font-family: 'Raleway',sans-serif;
font-weight: 500;
font-size: rem(40px);
line-height: 110%;
color: var(--black);
}

&__desc {
font-family: 'Raleway',sans-serif;
font-weight: 500;
font-size: rem(18px);
line-height: 150%;
color: var(--black);
margin-top: rem(20px);
}

&__img {
  display: flex;
  gap: rem(30px);
  margin-top: rem(20px);
}

&__arm {
  @media (max-width:680px) {
    width: 375px;
    height: 370px;
  }
  @media (max-width:550px) {
    width: 290px;
    height: 286px;
  }
}
}

