@use '../functions' as *;

.welcome {
display: grid;

&.form {
    display: none;
  }

  &__img {
  @media (max-width:1023px) {
    width: rem(440px);
    height: rem(521px);
  }
  @media (max-width:768px) {
    width: rem(330px);
    height: rem(380px);
  }
  @media (max-width:680px) {
    width: rem(300px);
    height: rem(300px);
  }
  @media (max-width:550px) {
    display: none;
  }

  

}

  &__container {
    display: flex;
    align-items: center;
    gap: rem(30px);

    @media (max-width:680px) {
    padding-top: rem(50px);
  }
  }


  &__title {
font-family: 'Raleway', sans-serif;
font-weight: 500;
font-size: rem(60px);
line-height: 110%;
color: var(--black);
@media (max-width: 1023px) {
  font-size: rem(40px);
}
@media (max-width: 680px) {
  font-size: rem(36px);
  max-width: 285px;
}

  }

  &__desc {
font-family: 'Raleway', sans-serif;
font-weight: 500;
font-size: rem(18px);
line-height: 150%;
color: var(--green-4);
margin-top: rem(20px);

@media (max-width: 680px) {
  margin-top: rem(10px);
}
  }

}

  .button {
border: 1px solid var(--green-2);
font-family: 'Raleway', sans-serif;
font-weight: 500;
font-size: rem(20px);
line-height: 100%;
color: var(--green-2);
padding: rem(21px) rem(60px);
margin-top: rem(60px);
cursor: pointer;

@media (max-width:768px) {
padding: rem(18px) rem(51px);
  }
@media (max-width:680px) {
padding: rem(14px) rem(41px);
margin-top: rem(10px);
  }
}

